.key-code {
	display: none;
}

.opt {
	padding-left: 15px;
}

.buttons {
	padding-left: 15px;
}

#status {
	padding-left: 20px;
}

#attribution {
	display: inline;
	float: right;
	padding-right: 10px;
}

h4 {
	display: inline;
}
